html{
    height: 100%;
}

body{
    font-family: 'Manrope', sans-serif;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 320px;
    background-color: #EEEEEE;
    
   
    
}

.all{
  width: 90%;
  align-items: center;
  margin-left: 5%;
  flex-direction: row;
  gap:48px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  
}

.app-content{
  width: 100%;
}
.application{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: relative;
  min-width: 300px;
  max-width: 400px;
  width: auto;
  height: 566px;


  background: #FFFFFF;
  border-radius: 24px;

}
input {
    font-family: 'Manrope', sans-serif;
    
}

textarea{
    font-family: 'Manrope', sans-serif;
}

button{
    font-family: 'Manrope', sans-serif; 
}

.file-upload {
    font-family: 'Manrope', sans-serif;
}
.owner{
    display: none;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  gap: 50px;
  color: #FFFFFF;
  width:100%;
  height: 72px;

  background: #000000
}
.logo{
  margin-right: 5%;
  height: 40px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */


  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

a{
    color: black;
    text-decoration: none;
}

.ownersinfo{
    height: 2em;
    line-height: 1em;
    overflow: hidden;
}

.delete{
    background-color: #ff7f7f;
    padding: 5px;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: -40px;
}

img{
  width: 100%;
  height: 400px;
  /* Inside auto layout */
  object-fit: cover;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  border-radius: 16px 16px 0 0 ;
}



.info{
  flex-direction: column;
  align-items: flex-start;
  width: 90%;

/* padding: 24px;
gap: 8px; */

/* width: 358px;
height: 166px; */


/* Inside auto layout */

flex-grow: 0;
margin-top: 24px;
margin-left: 5%;
}

.name{
  width: 310px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 24px;
line-height: 30px;
/* or 109% */


color: #000000;


/* Inside auto layout */

flex: none;
align-self: stretch;
flex-grow: 0;
}
.description{
  width: 100%;
  height: auto;
  word-wrap: break-word;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  
  
  color: #000000;
  
  opacity: 0.5;
  
  /* Inside auto layout */
  
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.ownersinfo{
  width: 310px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* or 150% */


color: #000000;


/* Inside auto layout */

flex: none;
align-self: stretch;
flex-grow: 0;
}
.price{
  
width: 97px;
height: 30px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;
/* identical to box height */


color: #000000;

opacity: 0.5;

/* Inside auto layout */

flex: none;
flex-grow: 0;


color: #000000;

opacity: 0.5;

/* Inside auto layout */

flex: none;
flex-grow: 0;
}

.a{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 174px;
  height: 24px;
  font-size: 20px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}



.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .openbtn{
    font-size:60px;
    cursor:pointer;
    margin-left: 0; 
  }
  
  .search-phone{
    height: 30px;
    width: 200px;
    background-color: #818181;
    color: #000000;
  }

  .searchbtn-phone{
    height: 30px;
    background-color: #818181;
    color: #000000;
  }

  .computerbar{
    display: none;
  }

  .search{
    display: none;
  }

  .searchbtn{
    display: none;
  }

  @media only screen and (min-width: 937px) {
    
    .computerbar{
        display: contents;
        color: #FFFFFF;
        font-size: 20px;
        
    }
    .computerbar a{
      color: #FFFFFF;
    }
    .openbtn {
        display: none;
    }


    
    .search{
        display: flex;
      }
    
    .searchbtn{
        display: flex;
        
      }
  }